@{
    ViewBag.CardTitle = "Orders Table";
    ViewBag.DashboardTitle = "Orders Management";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="">



    <div class="card shadow-lg border-primary mb-4">
        <div class="card-header bg-primary text-white">
            <h3 class="card-title"><i class="fas fa-box-open"></i> @ViewBag.CardTitle</h3>
        </div>

        <div class="card-body">
            <table id="productTable" class="table table-hover table-bordered table-striped">

                <thead class="table-dark">
                    <tr>
                        <th><i class="fas fa-tag"></i> #id</th>
                        <th><i class="fas fa-th-large"></i> Name</th>
                        <th><i class="fas fa-money-bill-wave"></i> Phone Number</th>
                        <th><i class="fas fa-money-check-alt"></i> E-Mail</th>
                        <th><i class="fas fa-chart-line"></i> Order Status</th>
                        <th><i class="fas fa-cogs"></i> Total Price</th>
                        <th><i class="fas fa-cogs"></i> Action </th>
                    </tr>
                </thead>

            </table>
        </div>
    </div>
</div>



@section ProductJs {
    <script src="/js/OrderJs.js"></script>
}